<mat-nav-list >
    <a mat-list-item routerLink="/mainpage" (click)="onSidenavClose()" *ngIf="authService.isAuthenticated()">
        <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="newexpense" (click)="onSidenavClose()" *ngIf="authService.isAuthenticated()">
        <mat-icon>indeterminate_check_box</mat-icon><span class="nav-caption">new expense</span>
    </a>
    <a mat-list-item routerLink="/newincome" (click)="onSidenavClose()" *ngIf="authService.isAuthenticated()">
        <mat-icon>add_circle_outline</mat-icon><span class="nav-caption">new income</span>
    </a>
    <a mat-list-item (click)="logOut()" *ngIf="authService.isAuthenticated()">
        <mat-icon>power_settings_new</mat-icon><span class="nav-caption">log out</span>
    </a>
    <a mat-list-item (click)="redirectToLoginPage()" (click)="onSidenavClose()" *ngIf="!authService.isAuthenticated()">
        <mat-icon>login</mat-icon><span class="nav-caption">log in</span>
    </a>
</mat-nav-list>
