spring:
  datasource:
    url: jdbc:postgresql://10.0.0.110:5432/home_budget
    username: home_budget_user
    password: home_budget_user
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        show_sql: true

  sql:
    init:
      mode: always
