spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_PASSWORD}
    password: ${DB_USERNAME}
    driver-class-name: org.postgresql.Driver

  liquibase:
    enabled: false

  jpa:
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        show_sql: false

  sql:
    init:
      mode: never
