<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Dodaj kategorię</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
<div th:insert="fragments/navbar"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center">Nowa kategoria</h1>
      <div class = "card=body">
        <form th:action="@{/categories}" th:object="${category}" method="POST">
          <div class = "form-group">
            <label>nazwa</label>
            <input
                    type = "text"
                    name = "name"
                    th:field = "${category.name}"
                    class = "form-control"
            />
          </div>
          <div class = "form-group">
            <label>użytkownik</label>
            <select th:field="${category.categoryType}">
              <option th:each="categoryType : ${categoryTypes}" th:value="${categoryType}" th:text="${categoryType.value}">
              </option>
            </select>
            <select th:field="${category.budgetUser}">
              <option th:each="budgetUser : ${budgetUsers}" th:value="${budgetUser.id}" th:text="${budgetUser.userName}">
              </option>
            </select>
          </div>
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Dodaj</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
