<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Dodaj wpływ</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script>
     function validateForm() {
        var x = document.forms["myForm"]["value"].value;
        if (x == "" || x == null) {
         alert("Kwota musi być wypełniona");
    return false;
        }
    }
    </script>
</head>
<body>
    <div th:insert="fragments/navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center">Nowy wpływ</h1>
            <div class = "card=body">
                <form th:action="@{/incomes}" th:object="${income}" method="POST" name="myForm" onsubmit="return validateForm()">
                    <div class = "form-group">
                        <label>wartość</label>
                        <input
                                type = "number"
                                step = ".01"
                                min = "0.01"
                                name = "value"
                                th:field = "${income.value}"
                                class = "form-control"
                        />
                    </div>
                    <div class = "form-group">
                        <label>kategoria</label>
                        <select th:field="${income.categoryId}">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
                            </option>
                        </select>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
