<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Zarządzanie wydatkami</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
  <div th:insert="fragments/navbar"></div>
<div class = "container">
  <div class = "row">
    <h1>Lista wydatków</h1>
  </div>
  <div class = "row">
    <div class = "col-lg-3">
      <a th:href = "@{/expenses/new}" class="btn btn-primary btn-sm mb-3">Dodaj wydatek</a>
    </div>
  </div>
    <table class = "table table-striped table-bordered">
      <thead class = "table-dark">
        <tr>
          <th>wartość</th>
          <th>kategoria</th>
          <th>data utworzenia</th>
          <th>data ostatniej edycji</th>
          <th>akcje</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each = "expense: ${expenses}">
            <td th:text = "${expense.value}"></td>
            <td th:text = "${expense.categoryName}"></td>
            <td th:text = "${#temporals.format(expense.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text = "${#temporals.format(expense.updatedAt, 'dd-MM-yyyy HH:mm')}"></td>
            <td>
                <a th:href = "@{/expenses/edit/{id}(id=${expense.id})}"
                class = "btn btn-primary">Aktualizuj</a>
                <form th:action="@{/expenses/delete/{id}(id=${expense.id})}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-danger">Usuń</button>
                </form>
            </td>
        </tr>
      </tbody>
    </table>
</div>
</body>
</html>
