<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Zarządzanie wpływami</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
  <div th:insert="fragments/navbar"></div>
<div class = "container">
  <div class = "row">
    <h1>Lista wpływów</h1>
  </div>
  <div class = "row">
    <div class = "col-lg-3">
      <a th:href = "@{/incomes/new}" class="btn btn-primary btn-sm mb-3">Dodaj wpływ</a>
    </div>
  </div>
  <table class = "table table-striped table-bordered">
    <thead class = "table-dark">
    <tr>
      <th>wartość</th>
      <th>kategoria</th>
      <th>data utworzenia</th>
      <th>data ostatniej edycji</th>
      <th>akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "income: ${incomes}">
      <td th:text = "${income.value}"></td>
      <td th:text = "${income.category.name}"></td>
      <td th:text = "${#temporals.format(income.createdAt, 'dd-MM-yyyy HH:mm')}"></td>
      <td th:text = "${#temporals.format(income.updatedAt, 'dd-MM-yyyy HH:mm')}"></td>
      <td>
        <a th:href = "@{/incomes/edit/{id}(id=${income.id})}"
           class = "btn btn-primary">Aktualizuj</a>
          <form th:action="@{/incomes/delete/{id}(id=${income.id})}" method="post">
              <input type="hidden" name="_method" value="delete"/>
              <button type="submit" class="btn btn-danger">Usuń</button>
          </form>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
