<form fxLayout="column" [formGroup]="contactForm">
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="AMOUNT" formControlName="amount">
      </mat-form-field>

      <mat-form-field fxFlex>
        <input matInput type="text" placeholder="NOTE" formControlName="note">
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>Planned cash flow</mat-label>
        <mat-select  name="flow" formControlName="flowSelectedValue">
          <mat-option *ngFor="let flow of flows" [value]="flow.id">
            {{flow.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex>
        <mat-label>tag</mat-label>
        <mat-select name="tag" formControlName="tagSelectedValue">
          <mat-option *ngFor="let tag of tags" [value]="tag.id">
            {{tag.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit">add</button>
  </form>